@import url('https://fonts.googleapis.com/css?family=Caveat|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Domine|Open+Sans+Condensed:300&display=swap');

:root {
    --green-color: darkgreen;
    --blue-color: darkblue;
    --dark-grey-color: #3333;
    --white-color: #eee;
    --circle-color: #555;
    --pacifico-font: 'Pacifico', cursive;
    --caveat-font: 'Caveat', cursive;
    --domine-font: 'Domine', serif;
    --open-sans-condensed: 'Open Sans Condensed', sans-serif;
}

html {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: .8rem;
    background-color: rgba(0, 0, 0, .8);
}

.wrapper {
    display: grid;
    grid-template: 17% 60% 23% / 15% 70% 15%;
    grid-template-areas: "header-area header-area header-area" "body-area-left body-area body-area-right" "footer-area footer-area footer-area";
    row-gap: .5rem;
    column-gap: 0;
    height: 100vh;
}
/*-------------------Start of Header Container----------------------*/
.header-container {
    grid-area: header-area;
    background-color: white;
    display: flex;
    padding: .5rem;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    border: .1rem solid var(--dark-grey-color);
    box-shadow: 0 0 10px var(--white-color);
    font-family: var(--open-sans-condensed);
}

.title-photo, .header-text {
    margin: .4rem;
}

.header-text {
    font-size: 2.5vh;
}

/*-------------------End of Header Container----------------------*/
/*-------------------Start of Body Container----------------------*/
.body-container {
    grid-area: body-area;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto .5rem;
    border: .2rem solid black;
    border-radius: 4rem;
    box-shadow: 0 0 10px black;
    background-color: white;
    height: 80%;
}

.image-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.ball-in {
    animation: 2s ballIn;
}

.ball-out {
    animation: 2s ballOut;
}

@keyframes ballIn {
    from {
        width: 100%;
        height: 100%;
    }
    to {
        width: 1%;
        height: 1%;
    }
}

@keyframes ballOut {
    from {
        width: 1%;
        height: 1%;
    }
    to {
        width: 100%;
        height: 100%;
    }
}

.fa-circle {
    color: var(--white-color);
    margin: .5rem;
}

.active-circle {
    color: var(--circle-color);
}

/*-------------------End of Body Container----------------------*/
/*-------------------Start of Left Menu Container----------------------*/
.left-menu-container {
    grid-area: body-area-left;
    position: relative;
    height: 100%;
    width: 50vw;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    border-right: .1rem solid green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px black;
    padding-right: .8rem;
    background-color: var(--green-color);
    color: white;
    font-family: var(--open-sans-condensed);
}

.left-menu-container-open {
    left: -1vw;
    transition: .2s all ease;
}

.left-menu-container-close {
    left: -35vw;
    transition: .2s all ease;
}

.left-menu-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.left-menu-container h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    cursor: pointer;
    font-size: 1rem
}

.left-arrow {
    padding: .3rem 0 .3rem .1rem;
    cursor: pointer;
}

.nav-links-left {
    list-style: none;
    padding-left: 1rem;
    width: max-content;
}

/*-------------------End of Right Menu Container----------------------*/
/*-------------------Start of Right Menu Container----------------------*/
.right-menu-container {
    grid-area: body-area-right;
    position: relative;
    height: 100%;
    width: 50vw;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    border-left: .1rem solid blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px black;
    padding-left: .8rem;
    background-color: var(--blue-color);
    color: white;
    font-family: var(--open-sans-condensed);
}

.right-menu-container-open {
    right: 35vw;
    transition: .2s all ease;
}

.right-menu-container-close {
    right: 0;
    transition: .2s all ease;
    width: 15vw;
}

.display-none {
    display: none;
}

.right-menu-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}

.right-menu-container h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    cursor: pointer;
    font-size: .9rem
}

.right-arrow {
    padding: .3rem 0 .3rem .1rem;
    cursor: pointer;
}

.nav-links-right {
    list-style: none;
    padding-right: 1rem;
    width: max-content;
}

/*-------------------End of Right Menu Container----------------------*/
.family-links, .military-links, .volunteer-links, .education-links, .work-links, .project-links {
    list-style: none;
    display: none;
}

.nav-item-left, .nav-item-right {
    position: relative;
    top: 50%;
    margin: .5rem 0;
    font-size: 1rem;
    width: max-content;
    border-bottom: .1rem solid rgba(255, 255, 255, .3);
}

.nav-item-left h3, .nav-item-right h3 {
    cursor: pointer;
}

.link-item {
    margin: .2rem;
    cursor: pointer;
    width: max-content;
    font-size: smaller;
}

/*-------------------Start of Bottom Menu Container----------------------*/
.bottom-menu-container {
    grid-area: footer-area;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .5rem .5rem 1.5rem .5rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    border: .1rem solid var(--dark-grey-color);
    box-shadow: 0 0 10px var(--white-color);
    background-color: white;
    font-family: var(--open-sans-condensed);
}

.bottom-menu-container div {
    margin: .1rem 0;
}

.bottom-menu-header-container h1 {
    font-size: 1rem;
    padding: 0 .2rem;
}

.contact-container, .resume-container {
    font-size: 1rem;
    cursor: pointer;
}

.social-media-container i {
    margin: 0 .3rem;
    font-size: 1rem;
    cursor: pointer;
}

/*-------------------End of Bottom Menu Container----------------------*/
/*-------------------Start of Modal Container--------------------------*/


/*---------------------End of Modal Container--------------------------*/

#title-photo {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
}

#slideshow-photo {
    max-height: 80%;
    width: 90%;
    border-radius: 4rem;
    border: none;
    box-shadow: 0 0 10px black;
}